@model List<Product>


@foreach (var item in Model)
{
    <div class="item">
        <div class="disImage">
            <a href="#">
                <img class="img-fluid" src="./Images/discountsOwls/dr-vaidyas.jpg" alt="">
            </a>
        </div>
        <a href="#">
            <h2>
                Hashmi
            </h2>
        </a>
        <div class="disPrice">
            <p> ₼27,00</p>
            <del> ₼30,00</del>
            <span> 0,00%</span>
        </div>
        <div class="notStock ">
            <h1>Not Stock</h1>
        </div>
        <div class="basketIcon">
            <a href="#">
                <i class="fa-solid fa-basket-shopping"></i>
            </a>
        </div>
        <div class="wishIcon">
            <a href="#">
                <i class="fa-regular fa-heart"></i>
            </a>
        </div>

    </div>
}

