@model Subscribe
<form method="post" asp-action="Subscribe" asp-controller="home">

    <input asp-for="@Model.Email" type="email" class="form-control" placeholder="Enter your email address">
    <button type="submit">
        <i class="fa-solid fa-arrow-right"></i>
    </button>
</form>