
@{
    ViewData["Title"] = "ForgotPassword";
}
@model ForgotViewModel
<section id="forgotPassword">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="forgotImage">
                    <img src="~/Images/logins/1588773798_sign-in-banner-new.png"
                         alt="1588773798_sign-in-banner-new.png">
                </div>
            </div>
            <div class="col-lg-6 forgotInput">
                <h2>Forgot Password</h2>
                <form method="post">
                    <div class="mb-3">
                        <input type="email" asp- class="form-control" asp-for="Email" placeholder="Email" maxlength="50">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <a asp-action="login" asp-controller="account" class=" ms-5 btn btn-primary">Back</a>
                        <button type="submit" class=" ms-5 btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

