@{
    ViewData["Title"] = "Register";
}
@model MemberRegisterViewModel

<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="registerImage">
                    <img src="~/Images/logins/1588773798_sign-in-banner-new.png"
                         alt="1588773798_sign-in-banner-new.png">
                </div>
            </div>
            <div class="col-lg-6 registerInput">
                <h2>Sign In / Sign Up</h2>
                <p>
                    Sign up or Sign in to access your orders, special offers, health tips and more!
                </p>
                <form method="post">
                    <div class="row">
                        <div class="col-lg-6 regInput">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input type="text" class="form-control" asp-for="Username">
                            <span asp-validation-for="Username" class="text-danger"></span>

                        </div>
                        <div class="col-lg-6 regInput">
                            <label asp-for="Fullname" class="form-label">Fullname</label>
                            <input type="text" asp-for="Fullname" class="form-control">
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 regInput">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input type="email" asp-for="Email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 regInput">
                            <label asp-for="Phone" class="form-label">Phone</label>
                            <input type="tel" class="form-control" asp-for="Phone">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 regInput">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" asp-for="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="col-lg-6 regInput">
                            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly" ></div>
                        <div class=" mb-3 form-check">
                            <button type="submit" class=" ms-5 btn btn-primary">Register</button>
                            <a class="ms-5" asp-controller="account" asp-action="login">
                                Have already account?
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>