
@{
    ViewData["Title"] = "Register";
}

<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="registerImage">
                    <img src="~/Images/logins/1588773798_sign-in-banner-new.png"
                         alt="1588773798_sign-in-banner-new.png">
                </div>
            </div>
            <div class="col-lg-6 registerInput">
                <h2>Sign In / Sign Up</h2>
                <p>
                    Sign up or Sign in to access your orders, special offers, health tips and more!
                </p>
                <form method="post">
                    <div class="row">
                        <div class="col-lg-6 regInput">
                            <label for="Username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp">
                        </div>
                        <div class="col-lg-6 regInput">
                            <label for="exampleInputEmail1" class="form-label">Fullname</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp">
                        </div>

                        <div class="col-lg-6 regInput">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp">
                        </div>
                        <div class="col-lg-6 regInput">
                            <label for="exampleInputEmail1" class="form-label">Phone</label>
                            <input type="tel" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp">
                        </div>
                        <div class="col-lg-6 regInput">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="col-lg-6 regInput">
                            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class=" mb-3 form-check">

                            <button type="submit" class=" ms-5 btn btn-primary">Register</button>
                            <a class="ms-5" href="login.html">
                                Have already account?
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>