@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ChangePssword";
}

<section id="forgotPassword">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="forgotImage">
                    <img src="~/Images/logins/1588773798_sign-in-banner-new.png"
                         alt="1588773798_sign-in-banner-new.png">
                </div>
            </div>
            <div class="col-lg-6 forgotInput">
                <h2>Change Password</h2>
                <form method="post" asp-controller="account" asp-action="ChangePassword">
                    <div class="mb-3">
                        <input class="form-control" asp-for="Password" placeholder="New Password"
                               minlength="8" maxlength="25">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" asp-for="ConfirmPassword"
                               placeholder="Confirm Password" minlength="8" maxlength="25">
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3 form-check p-0">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
