@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel
<section id="categoryMed">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 cateMed ">
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 cateMed ">
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#">
                        Covid
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="slider">
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel owl-carousel-slider owl-theme slider p-0 m-0">
                <div class="item">
                    <img src="./Images/sliders/1629294429_web_same_day.jpg" alt="" width="100%" height="100%">
                </div>
                <div class="item">
                    <img src="./Images/sliders/1640966085_Web_Home_title_1680X320.jpg" alt="" width="100%"
                         height="100%">
                </div>
                <div class="item">
                    <img src="./Images/sliders/1641292856_jioweb.jpg" alt="" width="100%" height="100%">
                </div>
                <div class="item">
                    <img src="./Images/sliders/1641829832_Homebvbbbb.jpg" alt="" width="100%" height="100%">
                </div>
                <div class="item">
                    <img src="./Images/sliders/1642404841_Web_Home522.jpg" alt="" width="100%" height="100%">
                </div>
                <div class="item">
                    <img src="./Images/sliders/1643089019_Web_Banner_1680x320pxl.jpg" alt="" width="100%"
                         height="100%">
                </div>
                <div class="item">
                    <img src="./Images/sliders/1643645501_Home_Banner741.jpg" alt="" width="100%" height="100%">
                </div>
                <div class="item">
                    <img src="./Images/sliders/1643645870_Home_Bannerzdfsf.jpg" alt="" width="100%"
                         height="100%">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="categorySbilab">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 sbiLabBox">
                <ul>
                    <li class="sbliLabLi">
                        <a href="#">
                            <ul>
                                <li>
                                    <div class="sbiLabImage">
                                        <img src="./Images/sbLabs/Wellnessnew.svg" alt="">
                                    </div>
                                </li>
                                <li>
                                    <h1>
                                        Order Medicine
                                    </h1>
                                    <p> Save Upto 25% off</p>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12  sbiLabBox">
                <ul>
                    <li class="sbliLabLi">
                        <a href="labtests.html">
                            <ul>
                                <li>
                                    <div class="sbiLabImage">
                                        <img src="./Images/sbLabs/Beautynew.svg" alt="">
                                    </div>
                                </li>
                                <li>
                                    <h1>
                                        Lab Tests
                                    </h1>
                                    <p> Save Upto 31% off</p>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="trendingToday">
    <div class="container-fluid">
        <div class="row trendUp">
            <h1>Trending Today</h1>
        </div>
        <div class="row trendDown">
            <div class="owl-carousel owl-theme owl-carousel-trending">
                <div class="item">
                    <img src="./Images/trendingsTodays/1634972793_Netmeds-masks_Mini_Banner__Web.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./Images/trendingsTodays/1642681975_Hapro_web.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./Images/trendingsTodays/1644506475_Dr_Morepen_web.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./Images/trendingsTodays/1644512252_Kairali_web.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./Images/trendingsTodays/1644512746_Vadham_web.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./Images/trendingsTodays/1644513254_Safent_web.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./Images/trendingsTodays/1644517050_KOFOL-Home-Page-Mini-Banner-Web.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="discountOwl">
    <div class="container-fluid">
        <div class="row disUp">
            <h1>Discount Products </h1>
        </div>
        <div class="row disDown">
            <div class="owl-carousel owl-theme owl-carousel-discount">
                <div class="item">
                    <div class="disImage">
                        <a href="#">
                            <img class="img-fluid" src="./Images/discountsOwls/dr-vaidyas.jpg" alt="">
                        </a>
                    </div>
                    <a href="#">
                        <h2>
                            Hashmi
                        </h2>
                    </a>
                    <div class="disPrice">
                        <p> ₼27,00</p>
                        <del> ₼30,00</del>
                        <span> 0,00%</span>
                    </div>
                    <div class="notStock ">
                        <h1>Not Stock</h1>
                    </div>
                    <div class="basketIcon">
                        <a href="#">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </a>
                    </div>
                    <div class="wishIcon">
                        <a href="#">
                            <i class="fa-regular fa-heart"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="orderBeauty">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 OrderB">
                <div class="row">
                    <div class="col-lg-6 leftOrder">
                        <h1>
                            Previous Orders
                        </h1>
                        <p>
                            Your previously ordered products
                        </p>
                        <a href="#">
                            <span>View Orders</span>
                            <img src="./Images/orderBeautys/arrow_mark.svg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6 orderRight">
                        <img src="./Images/orderBeautys/previous_orders.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 Beauty">
                <div class="row">
                    <div class="col-lg-6 leftBeauty">
                        <h1>
                            Beauty Products
                        </h1>
                        <p>
                            Save Upto 40% off
                        </p>
                        <a href="#">
                            Explore Beauty
                        </a>
                    </div>
                    <div class="col-lg-6 beautyRight">
                        <img src="./Images/orderBeautys/beauty_products.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="newProduct">
    <div class="container-fluid">
        <div class="row newProUp">
            <h1>New Products </h1>
        </div>
        <div class="row newProDown">
            <div class="owl-carousel owl-theme owl-carousel-newproduct">
                @await Html.PartialAsync("_NewProductSliderPartial", Model.NewProducts)
            </div>
        </div>
    </div>
</section>

<section id="favProduct">
    <div class="container-fluid">
        <div class="row favProUp">
            <h1>Favourite Products </h1>
        </div>
        <div class="row favProDown">
            <div class="owl-carousel owl-theme owl-carousel-favproduct">
                @await Html.PartialAsync("_FavouriteProductsPartial", Model.FavouriteProducts)
            </div>
        </div>
    </div>
</section>



@section Scripts{
    <script src="~/js/trendingCarousel.js"></script>
    <script src="~/js/_discountOwl.js"></script>
    <script src="~/js/newProductOwl.js"></script>
    <script src="~/js/favproduct.js"></script>
} 