
@{
    ViewData["Title"] = "Edit";
}

@model Contact

<h1>Edit</h1>

<div class="content-body" style="min-height: 740px;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="edit" asp-controller="contact">
                            <div class="row justify-content-center">
                                <div class="col-lg-10 mb-3">
                                    <label style=" color: #886CC0; font-weight: 700; font-size: 20px; ">Value</label>
                                    <textarea id="editor" style="height:350px" maxlength="1000" asp-for="Value" class="form-control input-default " placeholder="Value"></textarea>
                                    <span class="text-danger" asp-validation-for="Value"></span>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="mt-4 btn  btn-primary">Edit</button>
                                    <a asp-action="index" asp-controller="contact" class="ms-4 mt-4 btn  btn-warning">Back</a>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/manage/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/manage/js/ProductImage.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

}

